.question-container {
    margin-top: 200px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-large {
    background-color: #C4C4C4;
    color: black;
    font-weight: bold;
    margin-top: 30px;
    max-width: 400px;
    min-width: 300px;
}

.btn-large:hover {
    background-color:#21819e;
}

.btn-large:active {
    background-color: #d49a54;
}

p {
    font-size: 1.2rem;
    margin-top: 3px;
}

#ghost {
    width: 200px;
}

.sidenav {
    /* background-color: #434D56; */
    background-color: #20262D;
}

#btn-icons {
    width: 200px;
    height: 200px;
    padding: 0px;
    margin-bottom: 30px;
}

#dots {
    opacity: 80%;
}

#icon-div {
    width: 100%;
    margin-bottom: 10px;
}

.timeline-main {
    margin-right: 100px;
    margin-left: 100px;
}

#destiny-year {
    text-decoration: underline;
}

/* .chapter-imgs {
    width: 1920px;
    max-height: 250px;
} */

.weapon-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hide {
    display: none;
}

/* From Materialize, for sidenav */
header, body, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, body, footer {
        padding-left: 0;
    }
}

@media only screen and (min-width: 993px){
    #hide-icon {
        display: none;
    }
}