.question-container {
    margin-top: 200px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-large {
    background-color: #C4C4C4;
    color: black;
    font-weight: bold;
    margin-top: 30px;
    max-width: 400px;
    min-width: 300px;
}

.btn-large:hover {
    background-color:#21819e;
}

.btn-large:active {
    background-color: #d49a54;
}

p {
    font-size: 1.2rem;
    margin-top: 3px;
}

#ghost {
    width: 200px;
}

.sidenav {
    background-color: #434D56;
}

#icon-div {
    width: 100%;
    margin-bottom: 10px;;
}

.chapter-imgs {
    width: 900px;
    height: 250px;
}

.chapter-content {
    width: 900px;
}

.weapon-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 900px;
}

.hide {
    display: none;
}

/* From Materialize, for sidenav */
header, body, footer {
    padding-left: 300px;
}

@media only screen and (min-width: 976px){
    #hide-icon {
        display: none;
    }
}

@media only screen and (max-width : 992px) {
    header, body, footer {
        padding-left: 0;
    }
}
