.nav-wrapper {
    background-color: #434D56;
}

i.icon-white {
    color: white;
}

nav i, nav [class^="mdi-"], 
nav [class*="mdi-"], nav i.material-icons {
    font-size: 48px;
}
/* .brand-logo {
    margin-left: 20px;
}

#nav-mobile a {
    font-size: 1.3rem;
}

#mobile-demo a {
    font-size: 1.2rem;
} */